학교에서 학생들에게 0번부터 N번까지의 번호를 부여했다. 처음에는 모든 학생이 서로 다른 팀으로 구분되어, 총 N+1개의 팀이 존재한다. 이때 선생님은 팀 합치기 연산과 같은 팀 여부 확인 연산을 사용할 수 있다.
1. 팀 합치기 연산은 두 팀을 합치는 연산이다.
2. 같은 팀 여부 확인 연산은 특정한 두 학생이 같은 팀에 속하는지를 확인하는 연산이다.

선생님이 M개의 연산을 수행할 수 있을 때, 같은 팀 여부 확인 연산에 대한 연산 결과를 출력하는 프로그램을 작성해라.

입력 조건 )
- 첫째 줄에 N, M이 주어진다. M은 입력으로 주어지는 연산의 개수이다. (1 <= N, M <= 100,000)
- 다음 M개의 줄에는 각각의 연산이 주어진다.
- 팀 합치기 연산은 0 a b 형태로 주어진다. 이는 a번 학생이 속한 팀과 b번 학생이 속한 팀을 합친다는 의미이다,
- 같은 팀 여부 확인 연산은 1 a b 형태로 주어진다. 이는 a번 학생과 b번 학생이 같은 팀에 속해 있는지를 확인하는 연산이다.
- a와 b는 N 이하의 양의 정수이다.

출력 조건 )
- 같은 팀 여부 확인 연상네 대해 한 줄에 하나씩 YES 혹은 NO로 결과를 출력한다.

In [12]:
n, m = map(int, input().split())

a = []
for _ in range(m) :
    a.append(list(map(int, input().split())))
    
    
for i in range(m) :
    if a[i][0] == 0 : # 팀합치기
        n -= 1
        team = []
        team.append([a[i][1], a[i][2]])
    
    elif a[i][0] == 1 :
        team

7 8
0 1 3
1 1 7
0 7 6
1 7 1
0 3 7
0 4 2
0 1 1
1 1 1
NO
NO
YES

In [36]:
n, m = map(int, input().split())

a = []
for _ in range(m) :
    a.append(list(map(int, input().split())))
    
team = []
for i in range(m) :
    if a[i][0] == 0 :  # 팀합치기
        n-=1
        team.append([a[i][1], a[i][2]])
        
    elif a[i][0] == 1 : # 팀여부확인
        for j in range(len(team)) :
            if (a[i][1] in team[j]) and (a[i][2] in team[j]) :
                print("YES")
            else :
                print("NO")

7 8
0 1 3
1 1 7
0 7 6
1 7 1
0 3 7
0 4 2
0 1 1
1 1 1
NO
NO
NO
YES
NO
NO
NO
YES

In [8]:
team = []
for i in range(8) :
    if a[i][0] == 0 :
        n-=1
        team.append([a[i][1], a[i][2]])

In [9]:
team

[[1, 3], [7, 6], [3, 7], [4, 2], [1, 1]]

In [18]:
a

[[0, 1, 3],
 [1, 1, 7],
 [0, 7, 6],
 [1, 7, 1],
 [0, 3, 7],
 [0, 4, 2],
 [0, 1, 1],
 [1, 1, 1]]

In [35]:
for j in range(m) :
    if a[j][0] == 1:
        for i in range(len(team)) :
            if a[j][1] in team[i]) :
                print('yes')
            else :
                print('no')

yes
no
no
no
yes
no
yes
yes
no
no
yes
no
no
no
yes

In [28]:
if [a[-2][1], a[-2][2]] in team[-1] :
    print('yes')
else :
    print('no')

no

In [34]:
t = [1, 3]
b = [1 ,3]
if (b[0], b[1]) in t[0] :
    print('yes')

TypeError: argument of type 'int' is not iterable

In [47]:
n,m = map(int, input().split())

standard = [0] * (n+1)

for i in range(1,m+1) :
    a,b,c = map(int, input().split())

    if a == 0 : 
        B = standard[b] # for문이 돌아갈때마다 standard[b]값이 바뀌므로 기준이 되는 상수는 for문밖에 있어야함
        C = standard[c]
        for u in range(len(standard)) :
            if standard[u] != 0 :
                if standard[u] == B or standard[u] == C :
                    standard[u] = i        
        standard[b] = standard[c] = i # for문에서 바껴서 없애려고 했으나, 첫번째 0 -> i로 바뀔때 필요해서 걍 놔둠
        print(standard)

7 8
0 1 3
[0, 1, 0, 1, 0, 0, 0, 0]
1 1 7
0 7 6
[0, 1, 0, 1, 0, 0, 3, 3]
1 7 1
0 3 7
[0, 5, 0, 5, 0, 0, 5, 5]
0 4 2
[0, 5, 6, 5, 6, 0, 5, 5]
0 1 1
[0, 7, 6, 7, 6, 0, 7, 7]
1 1 1